name: Check PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions: read-all

env:
  HUSKY: 0
  CI: true

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          fetch-depth: 0
          submodules: true

      - name: Use Latest Corepack
        run: |
          echo "Before: corepack version => $(corepack --version || echo 'not installed')"
          npm install -g corepack@latest
          echo "After : corepack version => $(corepack --version)"
          corepack enable

      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e #v4.3.0
        with:
          cache: "yarn"
          node-version-file: ".nvmrc"

      - name: Perform checks
        run: |
          yarn install --immutable
          yarn typecheck:ci
          yarn lint:ci
          yarn prettier:ci
